/* line 6, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
html {
  font-size: 16px;
}

/* line 9, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 14, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* line 19, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
h1 {
  font-size: 2.5rem;
}

/* line 21, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
h2 {
  font-size: 2rem;
}

/* line 23, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
h3 {
  font-size: 1.75rem;
}

/* line 25, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
h4 {
  font-size: 1.5rem;
}

/* line 27, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
h5 {
  font-size: 1.25rem;
}

/* line 29, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
h6 {
  font-size: 1rem;
}

/* line 32, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 36, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* line 40, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
img {
  vertical-align: middle;
}

/* line 43, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
a {
  color: #0275d8;
  text-decoration: none;
}
/* line 47, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
a:hover, a:focus {
  color: #014c8c;
  text-decoration: underline;
}

/* line 51, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
.container {
  width: 960px;
  margin: 0 auto;
}

/* line 55, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
.navbar {
  position: relative;
  min-height: 50px;
  max-height: 60px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

/* line 62, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
.nav-item {
  display: inline-block;
}

/* line 65, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
.nav-item + .nav-item {
  margin-left: 20px;
}

/* line 68, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
.nav-item.active > a {
  text-decoration: underline;
}

/* line 71, /Users/ytyeoh/Desktop/own/cms/app/assets/stylesheets/demo/application.css.sass */
#languages {
  float: right;
}
